version: "3"
services:
  web_beginingrails62:
    build:
      context: .
      args:
        USER_ID: "${USER_ID:-1000}"
        GROUP_ID: "${GROUP_ID:-1000}"
    ports:
      - "3010:3000"
    volumes: 
      - ./beginingrails62:/opt/app
      - gem_cache_beginingrails62:/gems
    env_file: 
      - .env/development/database_beginingrails62
      - .env/development/web_beginingrails62
    environment: 
      - WEBPACKER_DEV_SERVER_HOST=webpack_dev_server_beginingrails62
    networks:
      - network
  webpack_dev_server_beginingrails62:
    build:
      context: .
      args:
        USER_ID: "${USER_ID:-1000}"
        GROUP_ID: "${GROUP_ID:-1000}"
    command: ./bin/webpack-dev-server
    ports: 
      - "3045:3045"
    volumes: 
      - ./beginingrails62:/opt/app
      - gem_cache_beginingrails62:/gems
    env_file: 
      - .env/development/database_beginingrails62
      - .env/development/web_beginingrails62
    environment: 
      - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
    networks:
      - network
  database_beginingrails62:
    image: postgres
    env_file: 
      - .env/development/database_beginingrails62
    volumes: 
      - db_data_beginingrails62:/var/lib/postgresql/data
    networks:
      - network
volumes: 
  db_data_beginingrails62:
  gem_cache_beginingrails62:
networks:
  network: